.phone-cover {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
}


/* background-image: url(https://eppl.store/image/catalog/products/1141a.png); */